body {
	margin-top:15px;
	background-color: #25316D;
	font-family: 'Poppins', sans-serif;
	place-items: center;
	color: #F1F6F5;
}
/* priekš filmju un aktieru bildēm, kārtīm, lielumi, fonti */
.single-team .inner {
    text-align: center;
	margin-bottom: 35px;
	border: 1px solid #e5eaf0;
	padding: 5px 5px 0px;
}
.single-team .inner .team-img {
	position: relative;
}
.img {
    float: left;
    width:  100px;
    height: 200px;
    object-fit: cover;
}
#cover{
    float: left;
    object-fit: cover;
	width:  300px;
    height: 360px;
}
.single-team .inner .team-img img {
	width: 100%;
}

.single-team .inner .team-img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.single-team .inner .team-img:hover::after {
	opacity: 0.4;
}

.single-team .inner .team-content {
	padding: 22px 0px 0px;
}

.single-team .inner .team-content h4 {
	font-size: 18px;
	font-weight: 400;
}

.single-team .inner .team-content h5 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: (#ffffff);
}

.single-team .inner .team-content {
	display: inline-block;
	padding: 2px;
	margin: 0 3px;
	font-size: 16px;
}

.card-img-topp{
	object-fit: cover;
	border-radius: 3px;
	width:  190px;
    height: 180px;
}

/* .align {
	margin-left: 50px;
} */
body {
font-family: 'Trebuchet MS', sans-serif;
}
/* Priekš hipersaitēm daizini */
.linkhover:hover {
	color: #7d91aa;
}

.rolelink:hover + .actorpichover{
    display: block;
}
.actorpichover{
	display: none;
	position: absolute;
}
/* bildēm */
#hoversize{
	object-fit: cover;
	border-radius: 3px;
	width:  160px;
    height: 200px;
}
.rolelink {
	text-decoration: none;
}
.rolelink:hover {
	text-decoration: underline;
}
#bio {
	margin: 10px
}
  
#panel {
	padding: 50px;
	display: none;
  }
  #flip:hover {
	color: #a4a3a3;
  }
.maindiv {
	width: 1200px;
	/* align-content: center; */
}
/* navigācijas animācija */
.nav1 {
	background-color: #5F6F94;
	line-height: 50px;
}

#navalign {
	display: flex;
	align-items: center;
	gap: 25px;
}

#ullist {
	list-style: none;
	display: flex;
	gap: 25px;
}

#link {
	position: relative;
	display: inline-block;
	font-weight: bold;
}

#link::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	scale: 0 1;
	transform-origin: left;
	transition: scale 0.25s;
}

#link:hover::before{
	scale: 1;
}	
/* priekš rekomendācijām coveri, lielumi, attāumi */
#rec{
	background-color: #5F6F94;
	width: 235px;
	border:2px solid black;
}
.tcontainers{
	margin-left: 4%;
}
#recpic{
	object-fit: cover;
	border-radius: 3px;
	width:  200px;
    height: 200px;
}
.recc{
	text-decoration: none;
}
.parent {
	text-align: center;
  }
/* priekš zvaigznēm */
  .rate {
	float: left;
	height: 46px;
	padding: 0 10px;
  }
  .rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
  }
  .rate:not(:checked) > label {
	float:right;
	width:1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:30px;
	color:#ccc;
  }
  .rate:not(:checked) > label:before {
	content: '★ ';
  }
  .rate > input:checked ~ label {
	color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
	color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
  }

  .star-rating {
    color: #ffb900;
}

.star-rating i.filled {
    color: #ffb900;
}

.star-rating i.empty {
    color: #ddd;
}

.konteinets21{
	max-height: 270px;
}